* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(87, 87, 87);
}

.card {
  display: inline-block;
  border: 1px solid white;
}
#list-of-channels li {
  list-style: none;
}

#list-of-channels li:hover {
  cursor: pointer;
}

#list-of-channels ul {
  padding-left: 10px;
  margin-top: 10px;
}

.selected {
  border: 1px solid white;
}

/* Sign form */
.sign-form-container {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.sign-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.sign-form input {
  width: 500px;
  padding: 0.5rem;
  border-radius: 10px;
  border-style: none;
  margin-bottom: 0.75rem;
  flex-basis: 100%;
}
.sign-form button {
  margin-top: 0.2rem;
  width: 300px;
  height: 35px;
  border-radius: 10px;
  border-style: none;
  font-size: 1.1rem;
  background-color: rgb(82, 235, 235);
  color: rgb(255, 255, 255);
}

#sign-in-btn-container {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin-bottom: 0.25rem;
}

#signup-text-container {
  display: flex;
}
